@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <table width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
          
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
            <tr>
                <td><input type="hidden" asp-for="@employee.Id" />@employee.Id</td>
                <td>@employee.Name</td>
                <td><a asp-page="./Edit" asp-route-id="@employee.Id">Edit</a></td>
                <td><button type="submit" asp-page-handler="delete" asp-route-id="@employee.Id">Delete</button></td>
            </tr>
            }

        </tbody>
    </table>
    <a asp-page="./Create">Create</a>
</form>
